<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
</head>
<script type="text/javascript" src="/js/main.js"></script>
<link rel="stylesheet" href="/dashboard.css" type="text/css">
<body>
    <h1 class="judul">PRATIKUM RESONANSI</h1>
    <div class="container2">
        
        <div class="bottom-content">
            <li class="">
                <a href="/">
                    <i class="bx bx-log-out icon"></i>
                    <span class="text nav-text">logout</span>
                </a>
            </li>
        </div> 
        <div class="pratikum">
            <div class="content">
                <h2>Pratikum</h2>
            </div>
                <input type="submit" class="btn" value="maju">
            </button>
                <input type="submit" class="btn" value="mundur">
            </button>
                <input type="submit" class="btn" value="diam">
            </button>
    
        </div>
        <div class="hasil">
            <div class="tombol"> <input type="submit" value="lenght" ></div>
        </div>
            <div class="video">  
                <h1>Data dB</h1>
                <div height="'405px" width="700px">
                    <canvas id="myChart"></canvas>
                </div>
                <!-- <div id ="videolive" >
                    <iframe width="700" height="405" src="https://www.youtube.com/embed/live_stream?channel=UCqnEe60wlPu1d3yEbCUBY3Q" frameborder="0" allowfullscreen></iframe>
                </div> -->
            </div>
            
        </div>

        
        <div class="menu-bar">
            <!-- <div class="menu">
                <li class="search-box"></li>
                <i class="bx bx-search icon"></i>
                <input type="text" placeholder="search">
            </div> -->
           
            <!-- <div>
                <ul class="menu-link">
                    <li class="nav-link">
                        <a href="/">
                            <i class="bx bx-home-alt icon">
                                <span text nav-tex>logout</span>
                            </i>
                        </a>
                    </li>
                </ul>
            </div> -->
           

    <!-- </div>
    <section class="home">
         -->

            <!-- <div class="container-button">
                <button id="button" onclick="alert('Data sudah terekam!')">Ambil Data</button>
            </div>

            <div class="container-button-1">
                <button id="button1" onclick="alert('Lift berhasil dinaikkan!')">Naikkan Lift</button>
            </div> -->

            <!-- <div id ="videolive" style="position:absolute; top:70px; left:290px;">
                <iframe width="360" height="405" src="https://www.youtube.com/embed/live_stream?channel=UCqnEe60wlPu1d3yEbCUBY3Q" frameborder="0" allowfullscreen></iframe>
            </div> -->
            
            
    <!-- </section>
</div> -->

</body>
</html>
