<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap">
    <script src="viewport" ></script>
</head>
<body>
    <div class="container">
        <div class="img">
            <img src="public/bebas.png">
        </div>
        <div class="login-content">
            <form action="/login" method="post">
                <img src="public/avatar.svg">
                <h2 class="title">LOGIN</h2>
                <input type="text" name = "nama" placeholder="nama" required>
                <input type="text" name = "NIM" placeholder="NIM" required>
                <button type="submit">Submit</button>
            </form>
        </div>
       

    </div>
    <script type="text/javascript" src="js/main.js"></script>
    

</body>
</html>